@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background-color: #e5e5e5;
    --dark-blue: #0a3871;
    --light-gray: #d8dfe8;
    --gray-400: #495057;
    --gray-500: #343a40;
    --font-uno: 'Inter';
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
}

/*Parte superior*/

.cabecera {
    display: flex;
    margin: 2.5rem 0rem 0rem 2.5rem;
}

.cabecera_logo {
    display: flex;
}

/*Contenido*/

.contenido{
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenido_boton {
    display: flex;
    border: none;
    background-color: var(--dark-blue);
    color: #fff;
    font-family: var(--font-uno);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 8rem;
    height: 2.5rem; 
    border-radius: 1.25rem;
}

.contenido_boton_2 {
    display: flex;
    border-color: var(--dark-blue);
    background-color: var(--background-color);
    color: var(--dark-blue);
    font-family: var(--font-uno);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 8rem;
    height: 2.5rem; 
    border-radius: 1.25rem;
}

/*Contenido izquierda*/

.contenido_areauno{
    display: flex;
    flex-direction: column;
    min-width: 65%;
    height: 32rem;
    margin: 2% 0 0 0;
}

.contenido_areauno_cajatexto {
    height: 32rem;
    font-family: var(--font-uno);
    border: none;
    font-size: 2.5rem;
    background-color: transparent;
    color: var(--dark-blue);
    font-weight: 400;
    text-transform: lowercase;
}

.contenido_areauno_frameuno{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content:flex-start;
}

.contenido_areauno_aviso_p{
    display: flex;
    flex-direction: row;
    font-family: var(--font-uno);
    padding: 0 0.2rem;
    font-size: 0.8rem;
}

.contenido_areauno_div {
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0 0 0;
}


/*Contenido derecha*/

.contenido_areados {
    display: flex;
    flex-direction: column;
    min-height: 35rem;
    width: 35%;
    background-color: #fff;
    border-radius: 32px;
}

.contenido_areados_divuno{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenido_areados_divuno_img{
    display: flex;
    align-items: center;
    margin: 20% 0 0 0;
}

.contenido_areados_h5 {
    font-family: var(--font-uno);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 5% 0 5%;
}

.contenido_areados_p {
    font-family: var(--font-uno);
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
}

.contenido_areados_divout {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.contenido_areados_salida {
    border: none;
    font-family: var(--font-uno);
    color: var(--dark-blue);
    width: 90%;
    font-family: var(--font-uno);
    font-size: 1rem;
    height: 28.5rem;
    max-height: 29rem;
    text-transform: lowercase;
}

.contenido_boton_3 {
    display: flex;
    border: none;
    background-color: var(--dark-blue);
    color: #fff;
    font-family: var(--font-uno);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto auto 5% auto;
    width: 8rem;
    height: 2.5rem; 
    border-radius: 1.25rem;
}

/*Condiciones especiales*/

.contenido_areauno_cajatexto::placeholder {
    color: var(--dark-blue);
    text-transform: lowercase;
}

.contenido_areauno_cajatexto:focus{
    outline-color: var(--dark-blue);
    box-shadow: none;
}

/*Responsividad*/

@media (max-width: 1200px){
    
    .cabecera {
        justify-content: center;
    }
 
    .contenido{
        justify-content: center;
        flex-direction: column;
    }

    .contenido_areauno {
        flex-direction: column;
        padding: 5%;
    }

    .contenido_areados{
        width: auto;
        flex-direction: column;
        min-height: auto;
    }

    .contenido_areauno_cajatexto {
        font-size: 1rem;
    }    

    .contenido_areados{
        width: auto;
        flex-direction: column;
        min-height: auto;
    }

    .contenido_areauno_cajatexto {
        font-size: 1rem;
    }

    .contenido_areados_h5{
        font-size: 1rem;
        margin: 5% 1% 0% 1%;
    }

    .contenido_areados_salida {
        height: auto;
    }

    .contenido_areados_divuno_img{
        display: none;
    }
}

@media (max-width: 600px){
    .cabecera {
        justify-content: right;
        margin-right: 8%;
    }
 
    .contenido{
        margin: 0 5% 0 5%;
        justify-content: center;
        flex-direction: column;
    }

    .contenido_areauno {
        flex-direction: column;
        padding: 5%;
    }

    .contenido_areados{
        width: auto;
        flex-direction: column;
        min-height: auto;
    }

    .contenido_areauno_cajatexto {
        font-size: 1rem;
    }

    .contenido_areados_h5{
        font-size: 1rem;
        margin: 5% 1% 0% 1%;
    }

    .contenido_areados_salida {
        height: auto;
    }

    .contenido_areados_divuno_img{
        display: none;
    }
}